streamlit
pandas
PyMuPDF
pydantic
python-docx
nltk
fuzzywuzzy
python-Levenshtein
rapidfuzz
sentence-transformers
phonetics
metaphone
base64io
python-dotenv
openai
asttokens
opencv-python
torch
torchvision
